<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>

    <add key="CamFovAngle" value="85" />
    <add key="ResolutionWidth" value="1920" />
    <add key="ResolutionHeight" value="1080" />
    <add key="MinContourArea" value="1000" />
    <add key="MovesExtraction" value="7000" />
    <add key="MovesDart" value="1000" />
    <add key="MovesNoise" value="900" />
    <add key="SmoothGauss" value="5" />
    <add key="ProjectionFrameSide" value="1300" />
    <add key="RuntimeCapturingCheckBox" value="False" />
    <add key="WithDetectionCheckBox" value="True" />
    <add key="SetupSlidersCheckBox" value="False" />
    <add key="Cam1CheckBox" value="True" />
    <add key="Cam2CheckBox" value="True" />
    <add key="Cam3CheckBox" value="True" />
    <add key="Cam4CheckBox" value="True" />
    <add key="Cam1Id" value="1a451e0b" />
    <add key="Cam1X" value="305" />
    <add key="Cam1Y" value="512" />
    <add key="Cam1TresholdMinSlider" value="152,208362369338" />
    <add key="Cam1TresholdMaxSlider" value="255" />
    <add key="Cam1RoiPosXSlider" value="0" />
    <add key="Cam1RoiPosYSlider" value="361,043126684637" />
    <add key="Cam1RoiWidthSlider" value="3320,35064935065" />
    <add key="Cam1RoiHeightSlider" value="135,709031010917" />
    <add key="Cam1SurfaceSlider" value="548,428870919439" />
    <add key="Cam1SurfaceCenterSlider" value="962,963080944212" />
    <add key="Cam1SurfaceLeftSlider" value="463,751504260938" />
    <add key="Cam1SurfaceRightSlider" value="1539,15627977892" />
    <add key="Cam2Id" value="78b6d66" />
    <add key="Cam2X" value="798" />
    <add key="Cam2Y" value="153" />
    <add key="Cam2TresholdMinSlider" value="105,645604395603" />
    <add key="Cam2TresholdMaxSlider" value="255" />
    <add key="Cam2RoiPosXSlider" value="0" />
    <add key="Cam2RoiPosYSlider" value="346,185744234796" />
    <add key="Cam2RoiWidthSlider" value="4132,53846153846" />
    <add key="Cam2RoiHeightSlider" value="133,442767295598" />
    <add key="Cam2SurfaceSlider" value="529,6" />
    <add key="Cam2SurfaceCenterSlider" value="962,552751231996" />
    <add key="Cam2SurfaceLeftSlider" value="438,291268479948" />
    <add key="Cam2SurfaceRightSlider" value="1510,17452149528" />
    <add key="Cam3Id" value="7528f30" />
    <add key="Cam3X" value="1414" />
    <add key="Cam3Y" value="133" />
    <add key="Cam3TresholdMinSlider" value="103,502747252747" />
    <add key="Cam3TresholdMaxSlider" value="255" />
    <add key="Cam3RoiPosXSlider" value="0" />
    <add key="Cam3RoiPosYSlider" value="362,957232704398" />
    <add key="Cam3RoiWidthSlider" value="4132,53846153846" />
    <add key="Cam3RoiHeightSlider" value="133,442767295598" />
    <add key="Cam3SurfaceSlider" value="537,985744234801" />
    <add key="Cam3SurfaceCenterSlider" value="965,907048925917" />
    <add key="Cam3SurfaceLeftSlider" value="451,708459255629" />
    <add key="Cam3SurfaceRightSlider" value="1479,98584224999" />
    <add key="Cam4Id" value="1a0c3fd5" />
    <add key="Cam4X" value="1939" />
    <add key="Cam4Y" value="475" />
    <add key="Cam4TresholdMinSlider" value="190,645604395604" />
    <add key="Cam4TresholdMaxSlider" value="255" />
    <add key="Cam4RoiPosXSlider" value="0" />
    <add key="Cam4RoiPosYSlider" value="354,571488469597" />
    <add key="Cam4RoiWidthSlider" value="4132,53846153846" />
    <add key="Cam4RoiHeightSlider" value="133,442767295598" />
    <add key="Cam4SurfaceSlider" value="537,985744234801" />
    <add key="Cam4SurfaceCenterSlider" value="966,907048925918" />
    <add key="Cam4SurfaceLeftSlider" value="465,125650031311" />
    <add key="Cam4SurfaceRightSlider" value="1463,2143537804" />
  </appSettings>
</configuration>