<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="CamFovAngle" value="85" />
    <add key="ResolutionWidth" value="1280" />
    <add key="ResolutionHeight" value="720" />
    <add key="MinContourArc" value="190" />
    <add key="MovesExtraction" value="8000" />
    <add key="MovesDart" value="1000" />
    <add key="MovesNoise" value="900" />
    <add key="SmoothGauss" value="5" />
    <add key="ProjectionFrameSide" value="1300" />
    <add key="MoveDetectedSleepTime" value="1" />
    <add key="ExtractionSleepTime" value="4" />
    <add key="RuntimeCapturingCheckBox" value="False" />
    <add key="WithDetectionCheckBox" value="True" />
    <add key="SetupSlidersCheckBox" value="False" />
    <add key="Cam1CheckBox" value="True" />
    <add key="Cam2CheckBox" value="True" />
    <add key="Cam3CheckBox" value="True" />
    <add key="Cam4CheckBox" value="True" />
    <add key="Cam1Id" value="7528f30" />
    <add key="Cam1X" value="305" />
    <add key="Cam1Y" value="512" />
    <add key="Cam1TresholdSlider" value="157,351219512195" />
    <add key="Cam1RoiPosYSlider" value="240,288409703505" />
    <add key="Cam1RoiHeightSlider" value="95,4574586838733" />
    <add key="Cam1SurfaceSlider" value="365,61964660078" />
    <add key="Cam1SurfaceCenterSlider" value="640,95050232786" />
    <add key="Cam1SurfaceLeftSlider" value="249,076451850037" />
    <add key="Cam1SurfaceRightSlider" value="999,114351057746" />
    <add key="Cam2Id" value="1a0c3fd5" />
    <add key="Cam2X" value="798" />
    <add key="Cam2Y" value="153" />
    <add key="Cam2TresholdSlider" value="105,645604395603" />
    <add key="Cam2RoiPosYSlider" value="230,462473794544" />
    <add key="Cam2RoiHeightSlider" value="98,2226415094344" />
    <add key="Cam2SurfaceSlider" value="351,562264150943" />
    <add key="Cam2SurfaceCenterSlider" value="640,540172615644" />
    <add key="Cam2SurfaceLeftSlider" value="299,087914182254" />
    <add key="Cam2SurfaceRightSlider" value="1005,03144654088" />
    <add key="Cam3Id" value="78b6d66" />
    <add key="Cam3X" value="1414" />
    <add key="Cam3Y" value="133" />
    <add key="Cam3TresholdSlider" value="118,931318681318" />
    <add key="Cam3RoiPosYSlider" value="255,619706498947" />
    <add key="Cam3RoiHeightSlider" value="88,1597484276735" />
    <add key="Cam3SurfaceSlider" value="358,530817610063" />
    <add key="Cam3SurfaceCenterSlider" value="643,894470309565" />
    <add key="Cam3SurfaceLeftSlider" value="300,765063029214" />
    <add key="Cam3SurfaceRightSlider" value="986,9040812437" />
    <add key="Cam4Id" value="1a451e0b" />
    <add key="Cam4X" value="1939" />
    <add key="Cam4Y" value="475" />
    <add key="Cam4TresholdSlider" value="176,074175824175" />
    <add key="Cam4RoiPosYSlider" value="240,525366876306" />
    <add key="Cam4RoiHeightSlider" value="89,8368972746336" />
    <add key="Cam4SurfaceSlider" value="360,207966457023" />
    <add key="Cam4SurfaceCenterSlider" value="641,540172615645" />
    <add key="Cam4SurfaceLeftSlider" value="312,505104957936" />
    <add key="Cam4SurfaceRightSlider" value="977,679762585431" />
  </appSettings>
</configuration>