<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="TrasholdMinSlider" value="197"/>
    <add key="TrasholdMaxSlider" value="255"/>
    <add key="RoiPosXSlider" value="0"/>
    <add key="RoiPosYSlider" value="357"/>
    <add key="RoiWidthSlider" value="3671"/>
    <add key="RoiHeightSlider" value="133"/>
    <add key="SurfaceSlider" value="536"/>
    <add key="CamIndexBox" value="0"/>
  </appSettings>
</configuration>